---
title   : Home
layout  : devops-base.hbs
order   : 0
---

<header class="hero hero-devops">
	<div class="centered">
		<!--<div class="hero-circle">-->
			<!--<div class="hero-world"></div>-->
		<!--</div>-->
		<div class="hero-title">
			<h1>AMP Administration <span>{{ size.moment_timezone_version }}{{size.moment_timezone_data_version}}</span></h1>
			<h2>Platform management, monitoring, and security.</h2>
		</div>
	</div>
</header>

{{#markdown}}
{{/markdown}}

</div>

