---
title   : Docs
layout  : dev-base.hbs
order   : 1
scripts :
  - docs
---

<div class="hero hero-oneline">
	<div class="hero-centered">
		<h1>AMP Documentation</h1>
	</div>
</div>

{{>docs-partial}}