---
title   : Guides
layout  : dev-base.hbs
order   : 2
scripts :
    - docs
---

<div class="hero hero-oneline">
	<div class="hero-centered">
		<h1>AMP Developer Guides</h1>
	</div>
</div>

{{>guides-partial}}