---
title   : Home
layout  : dev-base.hbs
order   : 0
scripts :
  - core-home
---

<header class="hero hero-dev">
	<div class="centered">
        <!--<div class="hero-circle">-->
            <!--<div class="hero-world"></div>-->
        <!--</div>-->
		<div class="hero-title">
			<h1>AMP <span>{{ size.moment_version }}</span></h1>
			<h2>An open source CaaS for Docker, batteries included.</h2>
		</div>
	</div>
</header>


<div class="builds">
	<div class="builds-download">
		<h3>Download</h3>
		<a class="builds-button builds-button-source" href="https://github.com/appcelerator/amp/releases">
			AMP
		</a>
		<a class="builds-button builds-button-gzipped" href="https://github.com/appcelerator/amp/releases">
			v0.13.0
		</a>
	</div>
    <!--
	<div class="builds-packages">
		<h3>Install</h3>
		<pre><code>npm install moment --save   <span class="comment"># npm</span>
yarn add moment             <span class="comment"># Yarn</span>
Install-Package Moment.js   <span class="comment"># NuGet</span>
spm install moment --save   <span class="comment"># spm</span>
meteor add momentjs:moment  <span class="comment"># meteor</span>
bower install moment --save <span class="comment"># bower (deprecated)</span>
</code></pre>
	</div>
	-->
</div>

<div class="page-dev-index">

{{#markdown}}

* Use Docker Compose v3 [stackfiles](https://docs.docker.com/compose/compose-file/) to deploy your stacks
* Account management support for users, organizations and teams with role-based access controls
* Logs and metrics realtime filtered feeds and historical query support



```sh
    $ amp
    [localhost:50101]

    Usage:	amp [OPTIONS] COMMAND

    Deploy, manage, and monitor container stacks.

    Examples:
    amp version

    Options:
      -h, --help            Print usage
      -k, --insecure        Control whether amp verifies the server's certificate chain and host name
      -s, --server string   Specify server (host:port)
      -v, --version         Print version information and quit

    Management Commands:
      cluster     Cluster management operations
      password    Password management operations
      service     Service management operations
      stack       Stack management operations
      team        Team management operations
      user        User management operations

    Commands:
      completion  Output shell completion code for the specified shell (bash or zsh)
      login       Login to account
      logout      Logout of account
      logs        Display logs matching provided criteria
      settings    Display AMP settings
      stats       Display statistics
      version     Show version information
      whoami      Display currently logged in account name

    Run 'amp COMMAND --help' for more information on a command.
```

{{/markdown}}

<div class="locales">
	{{#each locale }}
		<div class="button {{#is abbr "en" }}active{{/is}}" data-locale="{{ abbr }}">
			{{ name }}
		</div>
	{{/each}}
</div>

</div>
